/**
 * Design Colors
 */
$white: #fff;
$blue: #0a083a;
$gray: #e4e4ea;
$pink: #f10091;
$light-gray: #e8e8ed;
$red: #f00;

/**
 * Backgrounds
 */
$main-background-color: $gray;

$header-section-background-color: $white;
$this-course-for-you-section-background-color: $white;
$for-thirty-lessons-section-background-color: $blue;
$feedback-section-background-color: $white;
$resume-section-background-color: $white;
$numbers-saying-section-background-color: $white;
$start-right-now-section-background-color: $white;

/**
 * Section sizes
 */
$header-section-height: 624px;
$this-course-for-you-section-height: 867px;
$for-thirty-lessons-section-height: 1516px;
$feedback-section-height: 959px;
$diploma-section-height: 809px;
$resume-section-height: 2366px;
$numbers-saying-section-height: 1313px;
$internship-section-height: 842px;
$start-right-now-section-height: 630px;
$footer-section-height: 341px;

/**
 * Sections font colors
 */
$header-section-font-color: $white;
$this-course-for-you-section-font-color: $blue;
$for-thirty-lessons-section-font-color: $white;
$feedback-section-font-color: $blue;
$diploma-section-font-color: $blue;
$numbers-saying-section-font-color: $blue;
$internship-section-font-color: $white;
$start-right-now-section-font-color: $blue;
$footer-section-font-color: $white;

/**
 * Elements colors
 */
$decoration-dot-color: $pink;
$slider-dot-color: $gray;
$slash-color: $pink;
$link: $white;
$error: $red;

